mlflow.db
mlartifacts/
models/
outputs/
data/train_batch1.csv
data/holdout.csv
data/train_batch2.csv
sa-key.json
.env
.venv/
__pycache__/
*.pyc
.DS_Store
mlruns/
*.csv
*.pem
*.ps1
*.md
!README.md
!awspath.md
!hihi.md
